/* NavBar  */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(48, 0, 84);
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
  color: white;
  margin: 10px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .nav {
    font-size: 10px;
    padding-left: 10px;
  }
  }

  
@media (max-width: 768px) {
  .home {
   font-size: 15px;
   padding-right: 10px;
    }
   }





  /* HomePage */



.title1{
  font-size: 60px;
  margin: 0;


}

@media (max-width: 768px) {
  .title1 {
    font-size: 30px;
    padding-top: 20px;
  }
  }


.title2{
  font-size: 30px;
}

@media (max-width: 768px) {
  .title2 {
    font-size: 20px;
  }
  }



.container-1{
  background-image: url(../src/components/images/purple-back.webp);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  
}
@media (max-width: 768px) {
  .container-1 {
  height: 900px;
   
    
    
  }
}


.App {
  text-align: center;
}
.intro{
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.img1{
  height: 600px;
  border-radius: 20px;
  border: solid white;
}

@media (max-width: 768px) {
  .img1 {
    height: 200px;
    width: auto;
   
    
  }
  }


.choose{
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .choose {
    font-size: 25px;
    padding-top: 25px;
  }
  }




.platforms{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  justify-content: center;
  gap: 8em;
}
@media (max-width: 768px) {
  .platforms {
   display: inline;
   
   
   
  }
  }


.xbox-image{
  border-radius: 20px;
  height: 200px;
  border: solid white;
  
}
@media (max-width: 768px) {
  .xbox-image {
    height: 100px;
   
  }
  }



.switch-image{
  border-radius: 20px;
  height: 200px;
  border: solid white;
  
}
@media (max-width: 768px) {
  .switch-image {
    height: 100px;
    margin-top: 35px;
    
  }
  }



.ps-image{
  border-radius: 20px;
  height: 200px;
  border: solid white;
}
@media (max-width: 768px) {
  .ps-image {
    height: 100px;
    margin-top: 30px;
  }
  }





/* xbox homepage */
.container-2{
  background-image: url(../src/components/images/xbox-back.jpg);
  
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  
}
.halo-add{
  height: 400px;
  border-radius: 20px;
  border: solid white;
}
@media (max-width: 768px) {
  .halo-add {
    height: 150px;
    width: auto;
   
    
  }
  }


.gears5{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
}
.halo5{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
}

.forza5{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
}






/* switch homepage */
.link-add{
  height: 400px;
  border-radius: 20px;
  border: solid white;
}
@media (max-width: 768px) {
  .link-add {
    height: 150px;
    width: auto;
   
    
  }
  }

.container-3{
  background-image: url(../src/components/images/switch-back.webp);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
}



.mariobros{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
}

.smashbros{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
}

.marioady{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
}

/* Playstaion HomePage */
.container-4{
  background-image: url(../src/components/images/ps5-back.webp);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
 
  
}
.kratos-add{
  height: 400px;
  border-radius: 20px;
  border: solid white;
}

@media (max-width: 768px) {
  .kratos-add {
    height: 150px;
    width: auto;
   
    
  }
  }


.game-list{
  border: solid white;
  border-radius: 20px;
  width: 500px;
  margin: auto;
  color: white;
  background-color: rgb(74, 0, 67);
  
}

@media (max-width: 768px) {
  .game-list {
    height: 200px;
    width: 300px;
   
    
  }
  }


.displays{
 display: flex;
 gap: 6em;
 margin: 30px;
}

.godofwar{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
  
 
}

.re4{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  width: 450px;
  
 
}

.dmc{
  padding: 10px;
  height: 200px;
  border-radius: 20px;
}

.gamesdisplay{
  border: solid white;
  border-radius: 20px;
  width: 500px;
  margin: auto;
  color: white;
  background-color: rgb(74, 0, 67);
}




/* create game */
.creategame{
  background-image: url(../src/components/images/15-153013_purple-wallpaper.jpg);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
 
}

.sell{
  font-size: 60px;
  color: white;
}

.edit-title{
  font-size: 40px;
  color: white;

}


.onegame{
  color: white;
}
.form{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  width: 500px;
  background-color: rgb(20, 0, 40);
  margin-top: 20px;

}

@media (max-width: 768px) {
  form {
    height: 200px;
    width: auto;
  }
  }


  @media (max-width: 768px) {
    .form {
      height: 800px;
      width: 400px;
     
      
    }
    }



input{
  border-radius: 12px;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 20px;
  height: 100%;
  padding: 4px 20px 0;
  width: 100%;  
}
@media (max-width: 768px) {
  input {
    height: 40px;
    width: auto;
   
    
  }
  }

label{
  font-size: 30px;
  color: white;
  
}

.form-label{
  width: 90px;
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}


.addgame{
  background-color: red;
  color: white;
  margin: 20px;
  font-size: 20px;
  box-shadow: 5px 5px black;
}


@media (max-width: 768px) {
  .addgame {
    font-size: 30px;
    margin-top: 100px;
  }
  }


/* other */
.links{
  color: white;
}

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;

  
  
}

.text-danger{
  color: red;
}

.delete{
  background-color: red;
  color: white;
  margin: 20px;
  font-size: 20px;
  box-shadow: 5px 5px black;
}

@media (max-width: 768px) {
  .delete {
    font-size: 30px;
    margin-top: 100px;
   
    
  }
  }



.about{
  font-size: 30px;
}

.addgamebtn1{
 
  color: white;
  font-size: 20px;
   

}
.displaytitle{
  font-size: 25px;
  font-weight: bolder;
  

}

@media (max-width: 768px) {
  .edit {
    width: 300px;
    margin-left: 30px;
    
   
    
  }
  }
  
  
 
